<div class="jumbotron text-center">
    <h1>Kelp Cutters latest posts</h1>
</div>
<div class="col-lg-6">
    <%= link_to "Create New Article", new_article_path %>
</div>

<div class="container">
    <% @articles.each do |article| %>
        <div class="row">
            <div class="col-lg-6">
                <p>
                    <%= link_to article.title, article, :class => "btn btn-primary btn-sm" %>
                </p>
            </div>
        </div>
    <% end %>
</div>


<div class=”col-lg-8 col-md-8 col-sm-7 col-xs-6 padding-zero”>
    <%= will_paginate(@articles) %>
</div>
